<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Planner</title>
</head>
<body>
<div class="grid fullscreen">
</div>
</body>
</html>
<style>

    .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .grid {
        height: 100%;
        width: 100%;
        margin: 0;
        opacity: 10%;
    }

    .grid {
        background-image: repeating-linear-gradient(var(--foreground) 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, var(--foreground) 0 1px, transparent 1px 100%);
        background-size: 100px 100px;
    }
</style>

<script>

    class Shape {
        constructor(
            width = 300,
            height = 300,
            colour = 'blue',
            parent = undefined, //if undefined will attach to nearest grid || document.body
            x = undefined, //if undefined will center
            y = undefined, //if undefined will center
        ) {
            if (parent === undefined) {
                parent = document.body.closest('.grid') ? document.body.closest('.grid') : document.body;
            }
            this.parent = parent

            //If no position then center while rounding to nearest 100
            if (x === undefined) {
                x = (this.parent.clientWidth / 2) - (width / 2)
                x = x - (x % 100)
            }
            if (y === undefined) {
                y = (this.parent.clientHeight / 2) - (height / 2)
                y = y - (y % 100)
            }
            console.log(this.parent.clientHeight)
            this.x = x
            this.y = y

            //console log the client width and height
            console.log('clientWidth: ' + parent.clientWidth + ' clientHeight: ' + parent.clientHeight)

            this.width = width
            this.height = height
            this.colour = colour

            this.element = document.createElement('div')
            this.element.style.position = 'absolute'
            this.element.style.border = '1px solid ' + this.colour

            //Position the element
            this.element.style.top = this.y + 'px'
            this.element.style.left = this.x + 'px'
            this.element.style.width = this.width + 'px'
            this.element.style.height = this.height + 'px'

            //Add the element to the parent
            this.parent.appendChild(this.element)

            //Add event listeners for selecting and unselecting
            this.element.addEventListener('mousedown', () => {
                this.select()
            });
            //unselect if anything other than this is clicked on
            document.addEventListener('mousedown', (e) => {
                if (e.target !== this.element) {
                    this.unselect()
                }
            });

            // Add event listeners for dragging the shape
            this.element.addEventListener('mousedown', (e) => {
                var x = e.pageX - this.element.offsetLeft,
                    y = e.pageY - this.element.offsetTop;
                document.addEventListener('mousemove', (e) => this.move(e, x, y), false)
                document.addEventListener('mouseup', () => this.up(), false)
            }, false);

            //Add X & Y pos to the elements top left corner
            this.posText = document.createElement('div')
            this.posText.style.position = 'absolute'
            this.posText.style.top = '0'
            this.posText.style.left = '0'
            this.posText.style.color = 'var(--foreground)'
            this.posText.style.fontSize = '10px'
            this.posText.innerHTML = 'x: ' + this.element.offsetLeft + ' y: ' + this.element.offsetTop
            this.element.appendChild(this.posText)

            //start selected so the user can notice when it's added.
            this.select()

            console.log(this)
        }

        /* When clicking the shape make the border match the css var for --link-hover */
        select() {//todo just use css classes in the future
            this.element.style.border = '1px solid var(--link-hover)'
            this.element.style.zIndex = '1'
            //show an outer glow
            this.element.style.boxShadow = '0 0 0 2px var(--link-hover)'
            //make posText visible
            this.posText.style.display = 'block'
        }

        //When un-clicking the shape make the border match the css var for --foreground
        unselect() {
            this.element.style.border = '1px solid ' + this.colour
            this.element.style.zIndex = '0'
            //remove the outer glow
            this.element.style.boxShadow = 'none'
            //make posText invisible
            this.posText.style.display = 'none'
        }

        move(e, x, y) {
            //do nothing if the mouse button is not being held down or the event is not for this element.
            if (e.buttons !== 1 || e.target !== this.element) {
                return;
            }

            var snap = this.parent.snap || 10;
            this.element.style.left = Math.round(e.pageX / snap) * snap - x + 'px'
            this.element.style.top = Math.round(e.pageY / snap) * snap - y + 'px'
            /* update the pos */
            this.posText.innerHTML = 'x: ' + this.element.offsetLeft + ' y: ' + this.element.offsetTop;
        }

        up() {
            document.removeEventListener('mousemove', (e) => this.move(e, x, y), false)
            document.removeEventListener('mouseup', () => this.up(), false)
        }
    }

    new Shape()

</script>
