<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Planner</title>
</head>
<body>
<div class="grid fullscreen">
</div>
</body>
</html>
<style>

    .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .grid {
        height: 100%;
        width: 100%;
        margin: 0;
        opacity: 10%;
    }

    .grid {
        background-image: repeating-linear-gradient(var(--foreground) 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, var(--foreground) 0 1px, transparent 1px 100%);
        background-size: 100px 100px;
    }
</style>

<script>

    class Shape {
        constructor(
            width = 300,
            height = 300,
            colour = 'var(--link)',
            parent = undefined, //if undefined will attach to nearest grid || document.body
            x = undefined, //if undefined will center
            y = undefined, //if undefined will center
        ) {
            if (parent === undefined) {
                parent = document.body.closest('.grid') ? document.body.closest('.grid') : document.body
            }

            //If no position then center while rounding to nearest 100
            if (x === undefined) {
                x = (parent.clientWidth / 2) - (width / 2)
                x = x - (x % 100)
            }
            if (y === undefined) {
                y = (parent.clientHeight / 2) - (height / 2)
                y = y - (y % 100)
            }

            this.element = document.createElement('div')
            this.element.style.position = 'absolute'
            this.element.style.border = '1px solid ' + this.colour

            //create position label.
            this.posText = document.createElement('div')
            this.posText.style.position = 'absolute'
            this.posText.style.top = '0'
            this.posText.style.left = '0'
            this.posText.style.color = 'var(--foreground)'
            this.posText.style.fontSize = '10px'
            this.element.appendChild(this.posText)

            document.addEventListener('mousedown', (e) => {
                //unselect if anything other than this is clicked on
                if (e.target !== this.element) {
                    this.unselect()
                    return
                }
                //record where the click happened so that drag events can use it as a point of reference
                this.clickX = e.pageX
                this.clickY = e.pageY
                this.clickPosition = this.position

                //select the shape to make it more noticeable
                this.select()
                //add event listeners for moving and unselecting
                document.addEventListener('mousemove', (e) => this.moveWithMouse(e), false)
                document.addEventListener('mouseup', () => this.up(), false)
            })

            //anything stored in this is needed by other functions
            this.colour = colour
            this.parent = parent

            //start selected so the user can notice when it's added.
            this.select()
            //update the position, size and related labels
            this.update(x, y, width, height)
            //Add the element to the parent
            this.parent.appendChild(this.element)
        }

        /* When clicking the shape make the border match the css var for --link-hover */
        select() {
            this.selected = true
            //todo: in future should just apply css classes and the css should handle the rest
            this.element.style.border = '1px solid var(--link-hover)'
            this.element.style.zIndex = '1'
            //show an outer glow
            this.element.style.boxShadow = '0 0 0 2px var(--link-hover)'
            //make posText visible
            this.posText.style.display = 'block'
        }

        //When un-clicking the shape make the border match the css var for --foreground
        unselect() {
            this.selected = false
            this.element.style.border = '1px solid ' + this.colour
            this.element.style.zIndex = '0'
            //remove the outer glow
            this.element.style.boxShadow = 'none'
            //make posText invisible
            this.posText.style.display = 'none'
        }

        moveWithMouse(e) {
            //if not selected or mouse is not down then don't move
            if (!this.selected || e.buttons !== 1) {
                return
            }

            this.update(this.clickPosition.x + e.pageX - this.clickX,this.clickPosition.y + e.pageY - this.clickY)
        }

        up() {
            document.removeEventListener('mouseup', () => this.up(), false)
        }

        update(x, y, width, height) {
            let snap = this.parent.snap || 10 //provide the opportunity for the parent dictate the grid snap
            this.element.style.top = y - (y % snap) + 'px'
            this.element.style.left = x - (x % snap) + 'px'
            this.element.style.width = width + 'px'
            this.element.style.height = height + 'px'
            //update posText
            this.posText.innerHTML = 'x: ' + this.element.offsetLeft + ' y: ' + this.element.offsetTop
        }

        get position() {
            return {
                x: this.element.offsetLeft,
                y: this.element.offsetTop,
                width: this.element.offsetWidth,
                height: this.element.offsetHeight,
            }
        }

        set position({x, y, width, height}) {
            this.update(x, y, width, height)
        }
    }

    new Shape()

</script>
