/*  Put all the universal styles here.  */

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        /* Set vars to use for background and foreground colours */
        --background: white;
        --foreground: black;
        /* Set vars to use for link colours */
        --link: #007bff;
        --link-visited: #007bff;
        --link-hover: #019f15;
        --default-room-color: rgba(145, 145, 145, 0.7);
    }
}

/*!* Dark mode *!*/
@media (prefers-color-scheme: dark) {
    :root {
        /* Set vars to use for background and foreground colours */
        --background: #323437;
        --foreground: #a0a1a2;
        /* Set vars to use for link colours */
        --link: #3e96fa;
        --link-visited: #3e96fa;
        --link-hover: #61e16a;
        --default-room-color: rgba(80, 80, 80, 0.7);
    }
}

/* Use vars on body */
body {
    background-color: var(--background);
    color: var(--foreground);
}

/* Use vars on links */
a {
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    color: var(--link-hover);
}
