/*  Universal styles that are preloaded to prevent flashes or jitter.
    Keep it to a minimum as this is re-loaded on every request.
    Use the variables defined here in your post loaded / cached css.
 */
:root {
    --font-size: 16px;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        /* Set vars to use for background and foreground colours */
        --background: white;
        --foreground: black;
        /* Set grid colors */
        --grid-background: white;
        --grid-foreground: rgba(0, 0, 0, 0.5);
        /* Set vars to use for link colours */
        --link: #007bff;
        --link-visited: #007bff;
        --link-hover: #019f15;
        --default-room-color: rgba(222, 222, 222, 0.8);

        /* Set vars for Form controls */
        --input-background: white;
    }
}

/*!* Dark mode *!*/
@media (prefers-color-scheme: dark) {
    :root {
        /* Set vars to use for background and foreground colours */
        --background: #323437;
        --foreground: #a0a1a2;
        /* Set grid colors */
        --grid-background: #323437;
        --grid-foreground: rgba(160, 161, 162, 0.5);
        /* Set vars to use for link colours */
        --link: #3e96fa;
        --link-visited: #3e96fa;
        --link-hover: #61e16a;
        --default-room-color: rgba(80, 80, 80, 0.8);

        textarea {
            background-color: #323437;
            color: #a0a1a2;
        }

        button {
            background-color: #323437;
            color: #a0a1a2;
        }
    }
}

/* Use vars on body */
body {
    font-size: var(--font-size);
    background-color: var(--background);
    color: var(--foreground);
}

/* Use vars on links */
a {
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    color: var(--link-hover);
}
